{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }]
    // [
    //   "latest",
    //   {
    //     "es2015": {
    //       "modules": false
    //     }
    //   }
    // ]
  ]
}
